a {
    text-decoration: none;
}

/* body {
    background: url("../images/DSCN6554-e1491242261223.jpg") fixed;
} */

@font-face {
    font-family: Iris;
    src: url(../fonts/9329.ttf);
}

.navbar-light .navbar-toggler {
    color: rgba(255, 255, 255, .9);
    border-color: #ec67a6
}

/* start loader */

#loaderSection {
    background: #d9a7c7;
    background: linear-gradient(352deg, rgba(217,167,199,1) 0%, rgba(255,252,220,1) 100%); /* w3c */
    width: 100%;
    height: 100%
}

[data-ripple-color] {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

[data-ripple-color] .ripple-effect {
    position: absolute;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: white;
    animation: ripple-animation 2s;
}

@keyframes ripple-animation {
    from {
        transform: scale(1);
        opacity: 0.4;
    }
    to {
        transform: scale(50);
        opacity: 0;
    }
}

.loader {
    position: relative;
    padding-top: 300px;
    width: 40px;
    margin: auto;
}

.loader .circle {
    position: absolute;
    width: 38px;
    height: 38px;
    opacity: 0;
    transform: rotate(225deg);
    animation-iteration-count: infinite;
    animation-name: orbit;
    animation-duration: 5.5s;
}

.loader .circle:after {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 5px;
    background: #af346e;
    /* Pick a color */
}

.loader .circle:nth-child(2) {
    animation-delay: 240ms;
}

.loader .circle:nth-child(3) {
    animation-delay: 480ms;
}

.loader .circle:nth-child(4) {
    animation-delay: 720ms;
}

.loader .circle:nth-child(5) {
    animation-delay: 960ms;
}

@keyframes orbit {
    0% {
        transform: rotate(225deg);
        opacity: 1;
        animation-timing-function: ease-out;
    }
    7% {
        transform: rotate(345deg);
        animation-timing-function: linear;
    }
    30% {
        transform: rotate(455deg);
        animation-timing-function: ease-in-out;
    }
    39% {
        transform: rotate(690deg);
        animation-timing-function: linear;
    }
    70% {
        transform: rotate(815deg);
        opacity: 1;
        animation-timing-function: ease-out;
    }
    75% {
        transform: rotate(945deg);
        animation-timing-function: ease-out;
    }
    76% {
        transform: rotate(945deg);
        opacity: 0;
    }
    100% {
        transform: rotate(945deg);
        opacity: 0;
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#headerReg {
    display: none;
}

#mainReg {
    display: none;
}

.loadText {
    font-family: Poppins;
    font-size: 24pt;
    margin: 65px 0 0 0;
    text-align: center;
    color: #ec67a6;
}

/* end loader */

/* start head section */

.bg-light {
    background-color: rgba(51, 51, 51, 0.6) !important;
}

.logo {
    font-family: Poppins;
    font-size: 21pt;
}

.navbar-light .navbar-brand {
    color: #ec67a6;
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
    color: #dd458c;
}

.navbar-light .navbar-nav .active>.nav-link {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(236, 236, 236);
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #dd458c;
}

.headerContacts {
    display: flex;
    flex-direction: column;
    color: rgb(236, 236, 236);
}

/* end head section */

/* start home section */

#home {
    background: #dd458c;
}

/* end home section */

/* start products section */

#products {
    background-color: #fff;
    padding: 80px 0 60px;
    display: flex;
    justify-content: center;
}

.productsSection {
    width: 60%;
}

.productsSection h2 {
    font-family: Poppins;
    color: #333333;
}

.productsSection h2:first-letter {
    color: #db3762;
    text-decoration: underline;
}

.productListBlock {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 95%;
    margin: 25px 0;
}

.productItem {
    width: 20%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.productItemText {
    margin: 10px 0;
}

.productItemName {
    text-transform: uppercase;
    font-size: 14px;
    color: #333;
}

.productItemPrice {
    font-size: 15px;
    font-weight: 700;
}

.productItem img {
    width: 100%;
}

/* end products section */

/* start reviews section */

#reviews {
    background: url("../images/black_DSCN6554-e1491242261223.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 165px 0;
}

.reviewsBlock {
    display: flex;
    justify-content: center;
}

.reviewItem {
    width: 40%;
}

.revIImage {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.revIText {
    text-align: center;
    color: #fff;
    font-size: 13pt;
}

.revIName {
    text-align: center;
    color: #fff;
    margin: 15px 0;
    font-weight: 600;
    font-size: 13pt;
}

.carousel-indicators {
    bottom: -130px;
}

/* end reviews section */

/* .mapS{
    height: 600px;
    background: #fff;
    padding: 80px 0 60px;
}

.mapS h2 {
    text-align: center;
} */

/* start contact section */

#contact {
    padding: 80px 0 60px;
    background: url("../images/black_Mahrovaya belaya surfiniya.jpg");
    background-size: cover;
}

.footerLogo {
    font-family: Poppins;
    font-size: 26pt;
    color: #fff;
    text-align: center;
}

#contact h1 {
    margin: 0 0 50px;
}

/* #contact h1:first-letter {
    color: #db3762;
    text-decoration: underline;
} */

.hrf485 {
    display: flex;
    justify-content: center;
}

.contactBlock {
    width: 50%;
}

.contactForm {
    width: 50%;
}

.contactSect {
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.contacts {
    color: rgb(228, 228, 228);
    margin: 3px 6px;
    display: flex;
    flex-direction: column;
}

.contactItem {
    margin: 5px 0;
    font-size: 14pt;
}

.contactItem:first-child {
    margin: 0 0 5px 0;
}

.contactItem:last-child {
    margin: 5px 0 0 0;
}

.map {
    width: 95%;
    margin: 17px 0 0 0;
}

.form-control {
    border-radius: 0;
    background: rgba(97, 97, 97, 0.2);
    color: #fff;
}

.form-control:hover {
    background: rgba(97, 97, 97, 0.4);
}

.form-control:focus {
    background: rgba(26, 25, 25, 0.6);
    color: #fff;
    outline-style: none;
    outline-width: 0px !important;
    outline-color: none !important;
}

.nameAnumber {
    display: flex;
    justify-content: flex-start;
}

.nameFormDiv {
    width: 100%;
}

.numberFormDiv {
    width: 100%;
}

.nameForm {
    border: none;
    border: rgb(177, 177, 177) 1px solid;
}

.numberForm {
    border: none;
    border-top: rgb(177, 177, 177) 1px solid;
    border-right: rgb(177, 177, 177) 1px solid;
    border-bottom: rgb(177, 177, 177) 1px solid;
}

.emailForm {
    border: none;
    border-left: rgb(177, 177, 177) 1px solid;
    border-right: rgb(177, 177, 177) 1px solid;
    border-bottom: rgb(177, 177, 177) 1px solid;
}

.message {
    width: 100%;
    height: 225px;
    padding: 12px;
    line-height: 1.5;
    border: none;
    border-right: rgb(177, 177, 177) 1px solid;
    border-left: rgb(177, 177, 177) 1px solid;
}

.sendButton {
    height: 60px;
    background: rgba(26, 26, 26, 0.4);
    font-family: Poppins;
    font-size: 16pt;
}

.sendButton:hover {
    cursor: pointer;
    background: rgba(26, 26, 26, 0.8);
}

.marker {
    color: #db3762;
}

/* end contact section */

@media screen and ( max-width: 1420px) {
    .contactSect {
        flex-direction: column;
    }
    .contactBlock {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .contacts {
        width: 100%;
    }
    .map {
        width: 100%;
        margin: 0;
    }
    .contactForm {
        width: 100%;
        margin: 20px 0 0 0;
    }
}

@media screen and ( max-width: 1300px) {
    .productItem {
        width: 30%;
    }
}

@media screen and ( max-width: 1069px) {
    .productItem {
        width: 46%;
    }
}

@media screen and ( max-width: 894px) {
    .productItem {
        width: 45%;
    }
}

@media screen and ( max-width: 718px) {
    .productItem {
        width: 44%;
    }
    #contact h1 {
        margin: 0 0 38px;
    }
    .contactBlock {
        flex-direction: column;
    }
    .map {
        width: 100%;
        margin: 20px 0 0 0;
    }
}

@media screen and ( max-width: 600px) {
    .productItem {
        width: 43%;
    }
}

@media screen and ( max-width: 550px) {
    #products {
        padding: 35px 0 60px;
    }
    .productItem {
        width: 100%;
    }
}